@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    color: #000;
}
.wrappper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ddd;
}
.form-wrapper {
    background-color: #fff;
    width: 100%;
    max-width: 498px;
    padding: 19px 23px 29px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 22px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 16px;
}
.form-label {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-bottom: 6px;
}
.form-control {
    width: 100%;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0 9px;
    height: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 12px;
}
.form-control::placeholder {
    color: #555555;
}
.validation-msg {
    margin-bottom: 0px;
    color: #FF0000;
    margin-top: 6px;
}
.success-msg {
    color: #219F35;
    margin-bottom: 20px;
    display: none;
}
.btn-default {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 128px;
    min-height: 27px;
    background-color: transparent;
    border: 1px solid #000;
    padding: 2px;
    border-radius: 5px;
    font-size: 12px;
    font-family: "inter", sans-serif;
    font-weight: 400;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.btn-default::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.3s ease-in-out;
    z-index: -1;
}
.btn-default:hover::before {
    width: 100%;
    left: 0;
}
.btn-default:hover {
    color: #fff;
}